.Carte{
    display: flex;
    background-color: white;
    width : 90%;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    align-items: start;
}

.Star{
    color: gold;
}

.Rate{
    font-size: small;
    color: black;
}

.Title{
    color: black;
    font-size: medium;
    padding: 5px;
    font-weight: bold;
}

.Description{
    display: flex;
    flex-direction: column;
    width: 60%;

}

.TextDescription{
    overflow: hidden;
    text-overflow: ellipsis;
}

.FavoriPart{
    display: flex;
    flex-direction: column;
}
.Favori{
    color: red;
    border-color: black;
    border-width: 10px;
}