.fpassword-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.titre-group{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.titre {
    text-align: left;
}


.cancel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cancel-btn{
    background-color: gray;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin-top: 15px;
    max-width: 600px;
}

.input-content{
    width: 100%;
}

.validation-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bouton{
    width:25%;
}