.App {
  justify-content: center;
  display: flex;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
  padding: 100px;
}