.App {
  justify-content: center;
  display: flex;
    background-color: #ecf1fd;
}

.App-header {
  min-height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
  padding: 100px;
}