.profil-content{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left : 30px;
    margin-top: 30px;
}

.titre{
    text-align: center;
    width: 100%;
}

.profil-avatar{
    margin-right: 20px;
}

.profil-description{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profil-description-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.profil-buttons{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-container{
    margin-bottom: 20px;
}

.parutions{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tab-content{
    width: 80%
}
